html
  head
    title SiGO | Agendamento
    include ../partials/head.jade
  body.sigo_agendamento
    include ../partials/menu_lateral.jade

    div.container

      div.jumbotron
        h2 Agendamentos cadastrados
        div#status-message
        div.col-sm-6
          a(href="criar")
            div.card.criar-agendamento
                span(class="glyphicon glyphicon-plus", aria-hidden='true')
        each Agendamento in agendamentos
          div.col-sm-6
            div.card
              div.card-header
                a(href="#", id="#{Agendamento.id}", class="pencil-btn", data-toggle="tooltip", title="Modificar Agendamento")
                  span(class="glyphicon glyphicon-pencil", aria-hidden='true')
                a(href="#", id="#{Agendamento.id}", class="trash-btn", data-toggle="tooltip", title="Cancelar Agendamento")
                  span(class="glyphicon glyphicon-trash", aria-hidden='true')
              br/
              p Renavam: #{Agendamento.renavam_veiculo}
              p Data: #{Agendamento.data}
              p Hora: #{Agendamento.hora}
    script(src='../js/consultar_agendamento.js')

